.ItemDetailContainer {
  max-width: 1200px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.Star-icons {
  color: #fff518;
}

.Continue {
  margin-bottom: 5.5rem;
  padding: 0.5rem;
  font-weight: bold;
  font-family: var(--font);
  font-size: 1rem;
  color: #fff;
  background-color: #1c85fc;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.Continue:hover {
  transform: scale(1.1);
}
